:root{
--clr-primary-gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
--clr-secondary: hsl(0, 100%, 66%);

--clr-neutral-100: hsl(0, 0%, 100%);
--clr-neutral-200: hsl(270, 3%, 87%);
--clr-neutral-300: hsl(279, 6%, 55%);
--clr-neutral-400: hsl(278, 68%, 11%);

--size-100: 2rem;
--card-padding: 1.5rem;
  --card-margin-sm: 1.5rem;
  --card-margin-md: 4rem;
  --card-margin-lg: 8rem;
  --card-margin-xl: 16rem;

  --box-shadow: 1px 2px 3rem rgba(0, 0, 0, .2)
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  display: block;
}

html{
  font-size: 62.5%;
}

@media(min-width: 75em){
  html {
      font-size: 75%;
    }
}

body{
  font-family: 'Space Grotesk', sans-serif;
  /* font-size: 1.8rem; */
}

.content-grid{
  min-block-size: 100vh;
  min-block-size: 100dvh;
  display: grid;
  gap: 7rem;
    grid-template-rows: 24rem 1fr;
}

/* cards container */
.cards {
  background-image: url(../images/bg-main-mobile.png);
  background-size: cover;
  /* height: 100%; */
  color: var(--clr-neutral-100);
  /* position: relative; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


/* card info container */
.card__front,
.card__back {
  position: absolute;
  width: min-content;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
}

.card__front {
  z-index: 10;
  /* top: 12.2rem;
    left: var(--card-margin-sm); */
}

.card__back{
  /* top: 3.25rem; */
    /* right: var(--card-margin-sm); */
}

.card__front {
  transform: translate(-25%, 30%);
}

.card__back {
  transform: translate(25%, -30%);
}

.card__back-bg,
.card__front-bg {
  width: 28.5rem;
  max-width: revert;
}


/* card__front-gb will defined the space */
.card__front>*:not(.card__front-bg) {
  position: absolute;
}
.card__front-logo{
  top: var(--card-padding);
    left: var(--card-padding);
    width: 20%;
}
.card__front-numbers{
  font-size: 1.8rem;
  top: 52%;
    letter-spacing: 2.5px;
    left: var(--card-padding);
  }

.card__name,
.card__expired-date {
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  bottom: var(--card-padding);
}

.card__name {
  left: var(--card-padding);
}

.card__expired-date{
right: var(--card-padding);
}

.card__back-cvc{
  position: absolute;
  top: 44%;
    right: 12%;
  letter-spacing: 1px;
  font-size: 1.3rem;
}


/* FORM ************** */

.card-form{
justify-self: center;
  align-self: center;
}
.form {
  display: grid;
  gap: 2rem;
    width: 33rem;
}

.form__group label{
  display: block;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--clr-neutral-400);
  margin-bottom: .5rem;
  letter-spacing: 1px;
}

.form__input, .form__btn{
  width: 100%;
  padding: 1.5rem;
  border-radius: .8rem;
}

.form__input{
  cursor: pointer;
  outline: none;
  display: block;
  border: 1px solid var(--clr-neutral-200);
  font-family: inherit;
  font-size: 1.6rem;
}

.form__input::placeholder{
  color: var(--clr-neutral-300);
  font-size: 1.6rem;
  letter-spacing: .75px;
}

.form__input:focus:valid {
  background:
      linear-gradient(#fff 0 0) padding-box,
      linear-gradient(to right, hsl(249, 99%, 64%) 30%, hsl(278, 94%, 30%));
    border: 1px solid transparent;
}

.form__input.invalid {
  border: 1px solid var(--clr-secondary);
}

.alert {
  display: inline-block;
  margin-top: .5rem;
  color: var(--clr-secondary);
  font-size: 1.10rem;
}
.form__date-exp label {
  display: inline-block;
}
.form__date-exp input{
  width: 48%;
  display: inline-block;
}

.form__date-exp{
  flex: 1.5;
}

.form__cvc{
  flex: 2;
}

.form__btn{
  cursor: pointer;
  border: 0;
  background-color: var(--clr-neutral-400);
  color: var(--clr-neutral-200);
  font-size: 1.6rem;
}

.form__group:nth-child(3){
  display: flex;
  gap: 1rem;
}


/* MEDIA QUERIES */

/* 600px */
@media(min-width: 37.50em) {

  /* .card__front {
    left: var(--card-margin-lg);
  }

  .card__back {
    right: var(--card-margin-lg);
  } */


}

/* 800px */
@media(min-width: 50em) {
  .content-grid {
    grid-template-columns: 35vw 1fr;
    grid-template-rows: auto;
    gap: 0;
  }

  .cards{
    background-image: url(../images/bg-main-desktop.png);
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .card__front, .card__back {
    inset: unset;
  }

  .card__front{
    transform: translate(25%, -85%);
  }

  .card__back{
    transform: translate(40%, 35%);
  }

  
  .card__name, .card__expired-date, .card__back-cvc{
    font-size: 1.1rem;
  }
}
/* 1200px */
@media(min-width: 75em){
  
}